.centro{
  text-align: center;
  
}
.bordaProduto{
  border: solid 1px;
  border-left: none;
  border-right: none;
  border-radius: 0px 25px 25px 0px;
}
.borda{
  height: 560px;
  width: 240px;
  border: solid 2px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px 25px 25px 0px;
  font-family: Courier;
}
.borda2{
  height: 400px;
  width: 240px;
  border: solid 2px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px 25px 25px 0px;
  font-family: Courier;
}
.borda3{
  width: 360px;
  height: 320px;
  background-color: #ADD8E6;
  border: solid 2px;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 25px 25px 25px 25px;
  font-family: Courier;
}
.titulo{
  font-size: 15px;
  font-size: 25px;
  text-align: center;
  font-family: arial;
}
.cabecalho{
  background-color:#87CEFA;
  height: 60px;
  margin-bottom: 90px;
}
select{
  border: none;
  background-color: f1f1f1;
}
input{
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:hover{
  background-color:#D3D3D3;
}
#customizado th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:black;
}
.botao{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.botao1{
  padding: 13px 110px;
}
tr:hover{
  background-color: #ddd;
}
td{
  padding-top: 6px;
  padding-bottom: 6px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
}
.rodape{
  background-color: #87CEFA;
  margin-top: 90px;
  height: 60px;
}